h1, h2 {
		color: black
}
h3 {
	text-decoration: underline;
}

p {
		text-align: left;
		color: black
		text-decoration: underline;

}


#header {
	background: black
	color: white;
	text-align: center;
	padding: 5px;
}
#nav {
	background: gray
	width: 1500px;
	text-align: left;
	margin: 0 auto 0 auto;
	
}